<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" >

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Image name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element"> {{element.size}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef> Recognition result </th>
      <td mat-cell *matCellDef="let element"> {{element.result}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef> Download </th>
      <td mat-cell *matCellDef="let element"> {{element.download}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
