<p>
    <mat-toolbar color="primary">
      <span>Welcome</span>
      <span class="example-spacer"></span>
      <button mat-icon-button routerLink="/upload">
        <mat-icon>upload</mat-icon>
        </button>
        <button mat-icon-button routerLink="/history">
            <mat-icon>history</mat-icon>
        </button>
        <a routerLink="/employees">Employees</a>
        <button mat-icon-button routerLink="/login">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
  </p>