<div>
    <h1>Employees</h1>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="employeesList" class="mat-elevation-z8 table-striped">

            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef> Firstname </th>
                <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
            </ng-container>

            <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef> Surname </th>
                <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
            </ng-container>

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age</th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="employeesColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: employeesColumns;"></tr>
         </table>
         

         </div>
</div>

