<div class="content">
    <mat-card class="example-card">
        <mat-card-header class="upload">
          <mat-card-actions>
            <input style="display: none" type="file" (change)="selectFile($event)" #fileInput>
            <button mat-raised-button color="primary" (click)="fileInput.click()">Upload</button>
          </mat-card-actions>
        </mat-card-header>
    </mat-card>
    <div>
    <img mat-card-md-image [src]="url" *ngIf="url" width=100% height=100%>
     </div>
</div>
    