.content{
    background-image: linear-gradient(to right, blue , magenta);
    width: 100%;
    height: 100%; 
    z-index: 2;
    top: 5%0; 
    position: fixed;
    .example-card {
            display: flex;
            justify-content: center;
            align-items: center;
          
        .upload{
            display: flex;
            
        }
      }
}
