<div class="content">
    <mat-grid-list cols="4" rowHeight="20%">
        <mat-grid-tile [colspan]=4 [rowspan]=1>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=2 [rowspan]=3 class="form-grid">
          <img src="../../assets/avatar.png"/>
            <form class="form-login" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <h1 style="text-align: center;">Register</h1>
                       
                            <mat-form-field appearance="fill">
                                <mat-label><mat-icon matPreffix>email</mat-icon>  Email</mat-label>
                                <input type="email" matInput formControlName="email">
                            </mat-form-field>
                    
                            <mat-form-field appearance="fill">
                                <mat-label><mat-icon matPreffix>lock</mat-icon>  Password</mat-label>
                                <input type="password" matInput formControlName="password">
                            </mat-form-field>
                    <button mat-flat-button color="primary" class="register" [disabled]="!registerForm.valid" >Register</button>
                    <a mat-button  target="_blank" routerLink="/login">Already a member? Login.</a>
            </form> 
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=3>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1>
        </mat-grid-tile>
      </mat-grid-list>
  </div>
  
