.content{
    background-image: linear-gradient(to right, blue , magenta);
    position:fixed;
    width:100%;
    height:100%;
    .form-grid{
        background-color:whitesmoke;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;

        img{
            margin-right: 100px;
            border-radius: 50%;
              
        }
        .form-login{
            width: 40%;
            display: flex;
            flex-direction: column;
            .login{
               
                border-radius: 1rem;
               
            }
            a{
                color: gray;
            }
        }
    }
    
}

::ng-deep .success_snackbar {
    background: #10d863;
    color: white;
  }

::ng-deep .fail_snackbar {
    background: #d82e10;
    color: white;
  }